@font-face {
  font-family: "Nanum Square Round";
  src: url("https://cdn.jsdelivr.net/gh/wonsoh/webfonts/nanum-square-round/NanumSquareRoundOTFL.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/wonsoh/webfonts/nanum-square-round/NanumSquareRoundOTFL.woff")
      format("woff")
      url("https://cdn.jsdelivr.net/gh/wonsoh/webfonts/nanum-square-round/NanumSquareRoundOTFL.otf")
      format("opentype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Nanum Square Round";
  src: url("https://cdn.jsdelivr.net/gh/wonsoh/webfonts/nanum-square-round/NanumSquareRoundOTFR.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/wonsoh/webfonts/nanum-square-round/NanumSquareRoundOTFR.woff")
      format("woff")
      url("https://cdn.jsdelivr.net/gh/wonsoh/webfonts/nanum-square-round/NanumSquareRoundOTFR.otf")
      format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nanum Square Round";
  src: url("https://cdn.jsdelivr.net/gh/wonsoh/webfonts/nanum-square-round/NanumSquareRoundOTFB.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/wonsoh/webfonts/nanum-square-round/NanumSquareRoundOTFB.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/wonsoh/webfonts/nanum-square-round/NanumSquareRoundOTFB.woff")
      format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Nanum Square Round";
  src: url("https://cdn.jsdelivr.net/gh/wonsoh/webfonts/nanum-square-round/NanumSquareRoundOTFEB.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/wonsoh/webfonts/nanum-square-round/NanumSquareRoundOTFEB.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/wonsoh/webfonts/nanum-square-round/NanumSquareRoundOTFEB.otf")
      format("opentype");
  font-weight: bolder;
  font-style: normal;
}
