@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/wonsoh/webfonts/nanum-square-round/NanumSquareRoundOTFL.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/wonsoh/webfonts/nanum-square-round/NanumSquareRoundOTFL.woff")
      format("woff")
      url("https://cdn.jsdelivr.net/gh/wonsoh/webfonts/nanum-square-round/NanumSquareRoundOTFL.otf")
      format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/wonsoh/webfonts/nanum-square-round/NanumSquareRoundOTFR.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/wonsoh/webfonts/nanum-square-round/NanumSquareRoundOTFR.woff")
      format("woff")
      url("https://cdn.jsdelivr.net/gh/wonsoh/webfonts/nanum-square-round/NanumSquareRoundOTFR.otf")
      format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/wonsoh/webfonts/nanum-square-round/NanumSquareRoundOTFB.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/wonsoh/webfonts/nanum-square-round/NanumSquareRoundOTFB.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/wonsoh/webfonts/nanum-square-round/NanumSquareRoundOTFB.woff")
      format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/wonsoh/webfonts/nanum-square-round/NanumSquareRoundOTFEB.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/wonsoh/webfonts/nanum-square-round/NanumSquareRoundOTFEB.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/wonsoh/webfonts/nanum-square-round/NanumSquareRoundOTFEB.otf")
      format("opentype");
  font-weight: 800;
  font-style: normal;
}
